<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader</title>
    <link rel="stylesheet" href="../src/loader.css">
</head>
<body>

    <div class="loader"></div>
    <div class="loader-2"></div>
    <div class="loader-3"></div>
    <div class="loader-4"></div>
    <div class="loader-5"></div>
    <div class="loader-6"></div>
    <div class="loader-7"></div>
    <div class="loader-8"></div>
    <div class="loader-9"></div>
    <div class="loader-10"></div>
    <div class="loader-11"></div>
    <div class="loader-12"></div>
    <div class="loader-13"></div>

    <div class="loader-14">
        <div class="crystal"></div>
        <div class="crystal"></div>
        <div class="crystal"></div>
        <div class="crystal"></div>
        <div class="crystal"></div>
        <div class="crystal"></div>
    </div>
    <div class="honeycomb">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="loader-15">
        <div class="box box-1">
          <div class="side-left"></div>
    
          <div class="side-right"></div>
        <div class="side-top"></div>
      </div>
      <div class="box box-2">
        <div class="side-left"></div>
        <div class="side-right"></div>
        <div class="side-top"></div>
      </div>
      <div class="box box-3">
        <div class="side-left"></div>
        <div class="side-right"></div>
        <div class="side-top"></div>
      </div>
      <div class="box box-4">
        <div class="side-left"></div>
        <div class="side-right"></div>
        <div class="side-top"></div>
      </div>
    </div>
    <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="loader-16">
        <div class="box box0">
            <div></div>
            </div>
            <div class="box box1">
            <div></div>
            </div>
            <div class="box box2">
            <div></div>
            </div>
            <div class="box box3">
            <div></div>
            </div>
            <div class="box box4">
            <div></div>
            </div>
            <div class="box box5">
            <div></div>
            </div>
            <div class="box box6">
            <div></div>
            </div>
            <div class="box box7">
        
            <div></div>
        </div>
        <div class="ground">
            <div></div>
        </div>
    </div>
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="three-body">
        <div class="three-body__dot"></div>
        <div class="three-body__dot"></div>
        <div class="three-body__dot"></div>
    </div>
   <div class="loader-17"></div>
   <div class="pulsar"></div> 
   <span class="loader-18"></span>
   <div class="loader-19">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="superballs">
        <div class="superballs__dot"></div>
        <div class="superballs__dot"></div>
    </div>
    <span class="loader-20"></span>

    <div class="loader-21"></div>

</body>
</html>