<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me</title>
    <link rel="stylesheet" href="../src/me.css">
</head>
<style>
    hr {
        margin: 20px 0;
    }
</style>
<body class="debug">

    <h1>Titre de niveau 1</h1>
    <h2>Titre de niveau 2</h2>
    <h3>Titre de niveau 3</h3>
    <h4>Titre de niveau 4</h4>
    <h5>Titre de niveau 5</h5>
    <h6>Titre de niveau 6</h6>
    <hr>
    <h1 class="hero-title h1">Titre niveau 1</h1>
    <h2 class="hero-title h2">Titre niveau 2</h2>
    <h3 class="hero-title h3">Titre niveau 3</h3>
    <h4 class="hero-title h4">Titre niveau 4</h4>
    <h5 class="hero-title h5">Titre niveau 5</h5>
    <h6 class="hero-title h6">Titre niveau 6</h6>
    <hr>
    <h1 class="display-1">Titre Display 1</h1>
    <h2 class="display-2">Titre Display 2</h2>
    <h3 class="display-3">Titre Display 3</h3>
    <h4 class="display-4">Titre Display 4</h4>
    <h5 class="display-5">Titre Display 5</h5>
    <h6 class="display-6">Titre Display 6</h6>
    <hr>
    <p class="lead">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In temporibus ullam asperiores inventore exercitationem? Aspernatur obcaecati necessitatibus fuga blanditiis
    </p>
    <hr>
    <div class="jumbotron">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut incidunt, voluptas officia, nihil natus quibusdam reiciendis consequatur exercitationem reprehenderit voluptatum laudantium dolorum
    </div>
    <hr>
    <div class="hstack">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="hstack center">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="hstack between">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="hstack around">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="vstack">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="vstack center">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="vstack between">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="vstack around">
        <div>Élément 1</div>
        <div>Élément 2</div>
        <div>Élément 3</div>
    </div>
    <hr>
    <div class="vstack small">
        <div>Élément A</div>
        <div>Élément B</div>
        <div>Élément C</div>
    </div>
    <hr>
    <div class="vstack large">
        <div>Élément X</div>
        <div>Élément Y</div>
        <div>Élément Z</div>
    </div>
    <hr>


    <div class="container-fluid">
        <div class="row">
        <div class="col-12 col-md-8">col-12 col-md-8</div>
        <div class="col-12 col-md-4">col-12 col-md-4</div>
        </div>

        <div class="row">
        <div class="col-6 col-md-3">col-6 col-md-3</div>
        <div class="col-6 col-md-3">col-6 col-md-3</div>
        <div class="col-6 col-md-3">col-6 col-md-3</div>
        <div class="col-6 col-md-3">col-6 col-md-3</div>
        </div>

        <div class="row center">
        <div class="col-6 col-md-4">centré</div>
        </div>

        <div class="row">
        <div class="col-4 offset-4">offset-4</div>
        </div>
  </div>

</body>
</html>