<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo table responsive</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js" async></script>
</head>
<body>
    <table class="table-responsive">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Tour 1</th>
                <th>Tour 2</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jean marc</td> <!-- data-label="Nom" -->
                <td>Montpellier</td>
                <td>58min 40s</td>
                <td>1h23 58min 40s</td>
                <td>2ème</td>
            </tr>
            <tr>
                <td>Marie</td>
                <td>Montpellier</td>
                <td>1h23 58min 40s</td>
                <td>58min 40s</td>
                <td>3ème</td>
            </tr>
            <tr>
                <td>André</td>
                <td>Montpellier</td>
                <td>1h23 58min 40s</td>
                <td>58min 40s</td>
                <td>4ème</td>
            </tr>
            <tr>
                <td>Joséphine</td>
                <td>Montpellier</td>
                <td>1h23 58min 40s</td>
                <td>58min 40s</td>
                <td>4ème</td>
            </tr>
        </tbody>
    </table>
    <table class="table-responsive">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Tour 1</th>
                <th>Tour 2</th>
                <th>Tour 3</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jean marc</td>
                <td>Montpellier</td>
                <td>58min 40s</td>
                <td>1h23 58min 40s</td>
                <td>1h23 58min 40s</td>
                <td>2ème</td>
            </tr>
            <tr>
                <td>Marie</td>
                <td>Montpellier</td>
                <td>1h23 58min 40s</td>
                <td>1h23 58min 40s</td>
                <td>58min 40s</td>
                <td>3ème</td>
            </tr>
            <tr>
                <td>André</td>
                <td>Montpellier</td>
                <td>1h23 58min 40s</td>
                <td>1h23 58min 40s</td>
                <td>58min 40s</td>
                <td>4ème</td>
            </tr>
            <tr>
                <td>Joséphine</td>
                <td>Montpellier</td>
                <td>1h23 58min 40s</td>
                <td>1h23 58min 40s</td>
                <td>58min 40s</td>
                <td>4ème</td>
            </tr>
            <tr>
                <th colspan="5">Total</th>
                <td>100h</td>
            </tr>
        </tbody>
    </table>
</body>
</html>