<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll</title>
    <link rel="stylesheet" href="./app.css">
    <script src="./app.js" defer></script>
</head>
<body>

    <div class="container">
        <div class="relative" data-slider>
            <div id="rooms" class="rooms" data-slider-wrapper>
                <div class="room">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi facere, repellat repudiandae maiores odio pariatur explicabo maxime. Quidem possimus omnis corrupti hic vel vero beatae sint consectetur, eius vitae.
                </div>
                <div class="room">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quisquam totam soluta deleniti sunt quia ratione assumenda aspernatur minima? Ea libero similique facilis quis, quidem pariatur optio nisi commodi laudantium.
                </div>
                <div class="room">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit reiciendis maxime numquam voluptates unde dolorem eveniet neque asperiores id perspiciatis quasi necessitatibus illum porro, natus ullam eaque similique, magnam aspernatur?
                </div>
                <div class="room">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto doloribus consequuntur reiciendis eius tempora temporibus aliquid deleniti esse voluptas! Aut debitis dolorum suscipit cum saepe. Velit enim fugiat voluptatum excepturi.
                </div>
                <div class="room">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quo quibusdam illo nulla tenetur eveniet animi omnis vero consequuntur eius sapiente nam voluptate enim reprehenderit porro totam, eum corporis nemo.
                </div>
                <div class="room">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem sint nobis eveniet cumque odio minima totam perferendis eaque maxime accusamus, recusandae, adipisci nesciunt rerum! Numquam voluptates cumque consequatur nulla tempore.
                </div>
            </div>
            <button data-slider-prev class="rooms_navigation prev"><</button>
            <button data-slider-next class="rooms_navigation next">></button>
        </div>
    </div>

</body>
</html>