<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lien imbriqué</title>
    <link rel="stylesheet" href="../src/css/lienimbrique.css">
</head>
<body>

    <article class="card">
        <header class="meta">
            <p>
                <a href="#johdo">
                    <strong>Moi</strong>
                    leaddjjd
                    <span aria-hidden="true" class="invisible">

                    </span> 
                </a>
            </p>
        </header>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et obcaecati quas optio doloribus quod quo nulla non magnam aspernatur deleniti est magni, animi culpa fugit possimus vel aut cum voluptates!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci maiores nisi molestiae, obcaecati molestias ratione, suscipit quam maxime sequi vero aspernatur culpa exercitationem hic nostrum aperiam, optio consequatur corrupti iusto?
        </p>
        <div class="list">
            <a href="#card1" class="card">
                OSHSHH
            </a>
            <a href="#card2" class="card">
                SSSGGSGS
            </a>
        </div>
    </article>

</body>
</html>