<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Ui</title>
    <link rel="stylesheet" href="../../src/css/cards/cardui.css">
</head>
<body>

    <div class="card">
        <div class="card-thumb">
            <img src="../../src/images/carte.png" alt="">
        </div>
        <div class="card-date">
            <span class="card-date-day">12</span>
            <span class="card-date-month">Mai</span>
        </div>
        <div class="card-body">
            <div class="card-category"><a href="">Photos</a></div>
            <div class="card-title"><a href="">Mon titre</a></div>
            <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sint sed voluptas magni, distinctio, minima enim dolor eum assumenda dolore</div>
            <p class="card-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illo adipisci asperiores odio veniam quod eaque autem tempore repudiandae ullam possimus eos fuga quis debitis dolores modi, quasi vel. Consectetur!
                Corrupti sequi rem earum explicabo, ratione rerum non impedit culpa atque maxime eos quae. Quam commodi aut quo optio numquam blanditiis nihil quibusdam at fugit, dolore, corporis voluptatem? Debitis, esse!
                Soluta sint enim in tenetur quidem, iste, voluptas laboriosam non quaerat dicta quia! Velit, impedit, non, ab facilis molestiae reiciendis officiis beatae dolores tempore aperiam at est nostrum eius repellendus.
                Quidem necessitatibus sint mollitia nostrum numquam voluptate ad, consequuntur culpa odio aspernatur error. Doloribus molestias, nobis nihil, at laboriosam incidunt inventore excepturi obcaecati cum dolores ratione aperiam accusamus. Laborum, blanditiis.
            </p>
        </div>
        <div class="card-footer">
            <span class="icon icon-time">T</span>5min
            <span class="icon icon-comments">C</span>2000 Commentaires
        </div>
    </div>

    <div class="blogs__grid">
        <div class="blogs__card">
            <img src="../../src/images/carte.png" alt="blog" />
            <div class="blogs__content">
                <h5>By David</h5>
                <h4>The Heart of Successful Websites</h4>
                <p>
                    Dive deep into the realm of user experience (UX) design and its
                    pivotal role in creating websites that truly resonate with
                    visitors.
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="blogs__card">
            <img src="../../src/images/carte.png" alt="blog" />
            <div class="blogs__content">
                <h5>By Luiz</h5>
                <h4>Web Design Trends for 2023</h4>
                <p>
                    Stay ahead in the dynamic world of web design and development by
                    exploring the latest trends that are shaping the digital landscape
                    this year.
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="blogs__card">
            <img src="../../src/images/carte.png" alt="blog" />
            <div class="blogs__content">
                <h5>By Donna</h5>
                <h4>WordPress, Joomla, and More</h4>
                <p>
                    Choosing the right content management system (CMS) can greatly
                    influence your website's flexibility and ease of use helping you
                    make decisions.
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

</body>
</html>