<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select html</title>
    <link rel="stylesheet" href="./app.css">
</head>
<body>

    <!--
        Personaliser les select côté navigateur
    -->

    <select name="" id="">
        <button> <!-- Si le premier élément de notre select est un bouton, c'est lui qui sera placé lorsque l'utilisateur fera un choix -->
            <selectedcontent></selectedcontent> <!-- Cette balise prend le contenu de l'option choisi -->
            <!-- <svg width="24" height="24"> On peut remplacer l'icon du menu déroulant ici
                Icon
            </svg> -->
        </button>

        <!--
            <option value="">
                <img src="../img/circle.png" alt="">
                Woman
            </option>
        -->

        <div class="picker"> <!-- Si on veut changer l'affichage des options  -->
            <div class="group">A</div>
            <option value="">
                <img src="../img/circle.png" alt="">
                Select
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Me
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <div class="group">B</div>
            <option value="">
                <img src="../img/circle.png" alt="">
                Man
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Woman
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
            <option value="">
                <img src="../img/circle.png" alt="">
                Please
            </option>
        </div>
    </select>

</body>
</html>