<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../src/css/forms/login.css">
</head>
<body>

    <div class="container-fb">
        <div class="facebook-page">
            <div class="text">
                <h1>Facebook</h1>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p>Grand of the time</p>
            </div>
            <form action="">
                <input type="text" placeholder="Entrer votre nom d'utilisateur ou Email">
                <input type="password" placeholder="Entrer votre mot de passe">
                <div class="login-link">
                    <button type="submit" class="login-btn">Connexion</button>
                    <a href="#" class="forgot-password">Mot de passe oublié !</a>
                </div>
                <hr>
                <div class="create-acount">
                    <a href="#">S'inscrire</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>